<input required autofocus id="q" class="search-input awesomplete" list="mylist" type="text">
<!-- <input class="awesomplete" list="mylist"></input> -->
<!-- <datalist id="mylist">
	<option value="">compile</option>
	<option value="">c++</option>
	<option value="">c#</option>
	<option value="">javaEE</option>
	<option value="">ecmascript</option>
	<option value="">javascript</option>
	<option value="">java</option>
</datalist> -->
<input id="myinput" />

<center><strong><p id="actual"></p></strong></center>

<p id="found"></p>

<center><ul id="pages" class="nav"></ul></center>

<br>