<input required autofocus id="q" class="search-input awesomplete" list="mylist" type="text">
<center>
	<strong>
		<p id="actual"></p>
	</strong>
</center>
<p id="found"></p>
<center>
	<ul id="pages" class="nav"></ul>
</center>
<br>

<!-- Modal -->
<style>

	/* The Modal (background) */
	.modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		padding-top: 100px; /* Location of the box */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
	}

	/* Modal Content */
	.modal-content {
		border-radius: 0%;
		background-color: snow;
		margin: auto;
		padding: 20px;
		width: 90%;
		height: 480px;
	}

	.modal-results {
		overflow: scroll;
		overflow-x: hidden;
		width: 100%;
		height: 270px;
	}

	/* The Close Button */
	.close {
		color: black;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}

	.close:hover,
	.close:focus {
		color: dodgerblue;
		text-decoration: none;
		cursor: pointer;
	}

</style>

<!-- The Modal -->
<div id="myModal" class="modal">
	
	<!-- Modal content -->
	<div class="modal-content">
		<input required autofocus id="modal_q" class="search-input" type="text">
		<hr style="border-color: gainsboro;">
		<p class="modal-results" id="modal_found">
			<!-- <%= render 'fill' %> -->
		</p>
		<hr style="border-color: gainsboro;">
		<center>
			<button style="color: black;" class="btn" id="collaborate"></button>
			<span class="close">&times;</span>
		</center>
	</div>

</div>