<div class="search col-md-12">
	
	<center><%= image_tag "osty.png", :class => "logo img-responsive" %></center>
	
	<ul class="nav">
		<li class="m-item col-md-4"><a href="#">Colaboraciones</a></li>
		<li class="m-item col-md-4"><a href="#">Favoritos</a></li>
		<li class="m-item col-md-4"><a href="#">Perfil</a></li>
	</ul>
	
	<input required autofocus id="query" class="search-input" type="text">

</div>

<!--

Posible animacion
*****************

Cuando el usuario le de enter a buscar,
el logo de osty ira  la esquina superior izquierda,
la caja de texto se movera hacia arriba al centro y
el menu ira  a la esquina superior derecha.

Los resultados se mostraran abajo de la caja de texto.

-->
