<input required autofocus id="q" class="search-input" type="text">

<hr>

<p id="found"></p>

<hr>

<center><strong><p id="actual"></p></strong></center>

<hr>

<center><ul id="pages" class="nav"></ul></center>

<br>
