*{
  margin: 0;
  padding: 0;
}

body{
  background: url('/img/fondoPrincipal.png');
  font-family: sans-serif;
  overflow-x: hidden;
}

.header{
  width: 100%;
  height: 11%;
  background: #000;
  position: fixed;
  top:0;
  z-index: 1000;
}

.datosHeader{
  border: 1px solid white;
  height: 100%;
  max-width: 1150px;
  margin: 0 auto;
}
.divImagen{
  border: 1px solid white;
  width: 19.5%;
  /*width: 10rem;*/
  height: 75%;
  top: 17%;
  /*margin-top: 1.75%;*/
  cursor: pointer;
  position: relative;
  float: left;
}
.logo{
  width: 100%;
  height: 100%;
}

.menu{
  /*width: 500px;*/
  font-family: sans-serif;
  border: 1px solid white;
  float: right;
  position: absolutes;
  bottom: 0;
  height: 100%;


}
.divMenu{
  border: 1px solid yellow;

  position: relative;
  height: 55%;
  top: 45%;
}
.lstMenu{
  list-style: none;
  top: 40%;
}

.lstMenu > li{
  float: left;

  border: 1px solid green;
  
  /*border: 1px solid white;*/
  /*margin-top: 5.5%;*/
}

.lstMenu li a{
  color: white;
  text-decoration: none;
  display: block;
  padding:17px 17px;
  font-size: 20px;
}

.lstMenu li a:hover{
  color: #009CFD;
  border-bottom: 3px solid #009CFD;
}

.divWallpaper{
  position: relative;
  margin-top: 5.5%;
  display: block;
  width: 100%;
  /*border: 1px solid yellow;*/
  /*margin-bottom: */
  /*height: 100%;*/
}

.wallpaper{
  width: 100%;
  height: auto;
  /*z-index: 0;*/
}

.divColor{
  width: 100%;
  height: 100%;
  background: rgba(0, 156, 253, .75);
  position: absolute;
  /*z-index:1001;*/
}

.texto{
  width: 1150px;
  height: 85%;
  margin: auto;
  /*border: 1px solid white;*/
  position: absolute;
  margin-left: 20%;
  margin-top: 1%;
}

.ubicacionTexto{
  /*border: 1px solid black;*/
  width: 44%;
  height: 91%;
  margin-left: 44%;
  font-family: sans-serif;
  background: rgba(0, 0, 0, .45);
  padding: 2%;
  border-radius: 5%;
  margin-top: 2%;
}

.titulo{
  font-weight: bold;
  font-size: 55px;
  color: white;
  width: 100%;
  /*margin-top: 10%;*/
  margin-top: 2%;
  text-align: center;
  text-shadow: 5px 5px 5px #000;

}

.descripcion{
  font-size: 22px;
  color: white;
  font-weight: bold;
  /*text-shadow: 5px 5px 5px #000;*/
  /*-webkit-text-stroke: 1px black;*/
  margin-top: 40px;
  text-align: justify;
  font-weight: none;
  width: 85%;
  margin-left: 7.5%;
  /*margin: auto;*/
}

.btnBuscar{
  font-size: 24px;
  padding: 10px 25px;
  margin:auto;
  display: block;
  margin-top: 40px;
  border: 3px solid #009CFD;
  color: #009CFD;
  font-weight: bold;
  background: white;
  border-radius: 10px;
  outline: 0;
  transition: all .4s;
}

.btnBuscar:hover{
  color: white;
  cursor: pointer;
  background: #009CFD;
}

.btnIngresar{
  font-size: 18px;
  padding: 9px 15px;
  margin:auto;
  display: block;
  margin-top: 35px;
  border: 2px solid #009CFD;
  color: #009CFD;
  font-weight: bold;
  background: white;
  border-radius: 10px;
  outline: 0;
  transition: all .4s;
  width: 75.4%;
}

.btnIngresar:hover{
  color: white;
  cursor: pointer;
  background: #009CFD;
}

.fa{
  margin-right: 10px;
}

.funcionalidades{
  width: 100%;
  /*border: 1px solid white;*/
  margin-top: 50%;
  width: 1150px;
  margin: auto;
  padding-top: 140px;
}

.tituloFuncionalidades{
  color: #009CFD;
  font-weight: bold;
  font-size: 38px;
  width: 35%;
  margin:auto;
  border-bottom: 3px solid #009CFD;
  text-align: center;
  padding: 10px 0px;
}

.funcionIngresar{
  /*border: 1px solid white;*/
  margin-top: 8%;
  width:33%;
  float: left;
}

.funcionIngresar img{
  margin-bottom: 25px;
}

.funcionVer{
  /*border: 1px solid white;*/
  margin-top: 8%;
  width:33%;
  float: left;
}

.funcionVer img{
  margin-bottom: 25px;
}

.funcionVideo{
  /*border: 1px solid white;*/
  margin-top: 8%;
  width:33%;
  float: left;
}

.funcionVideo img{
  margin-bottom: 25px;
}

.imgFuncionalidades{
  width: 65%;
  float: left;
  margin:auto;
  display: block;
  margin-left: 15%;
}

.tituloIngreso{
  font-size: 24px;
  color: white;
  clear: both;
  font-weight: bold;
  display: block;
  text-align: center;
  /*border: 1px solid white;*/
}

.textoIngreso{
  font-size: 18px;
  color: white;
  text-align: justify;
  width: 70%;
  margin: auto;
  margin-top: 25px;
}

.video{
  width: 100%;
  margin-top: 180px;
}

.archivoVideo{
  width: 100%;
  /*height: 150px;*/
}

/*.contenedorVideo{
width: 100%;
height: 230px;
}*/

.footer{
  margin-top: 180px;
  width: 100%;
  height: 440px;
  /*border: 1px solid white;*/
}

.footerEquipo{
  width: 50%;
  height: 100%;
  background: #009CFD;
  float: left;
}

.footerContacto{
  background: #CCCCCC;
  width: 50%;
  height: 100%;
  /*margin-left: 50%;*/
  float: left;
}

.equipo{
  color: white;
  font-weight: bold;
  font-size: 38px;
  width: 35%;
  margin:auto;
  border-bottom: 3px solid white;
  text-align: center;
  padding: 10px 0px;
  margin-top: 21px;
  margin-bottom: 30px;
}

.persona{
  width: 50%;
  /*border: 1px solid black;*/
  margin-top: 41px;
  padding-left: 5%;
  box-sizing: border-box;
  float: left;
  color: white;
}

.nombre{
  font-weight: bold;
  font-size: 18px;
}

.tareas{
  font-style: italic;
}

.perfilPersona{
  font-size: 56px;
  float: left;
}

.contacto{
  color: #009CFD;
  font-weight: bold;
  font-size: 38px;
  width: 35%;
  margin:auto;
  border-bottom: 3px solid #009CFD;
  text-align: center;
  padding: 10px 0px;
  margin-top: 21px;
  margin-bottom: 30px;
}

.frmContacto{
  width: 50%;
  /*border: 1px solid black;*/
  margin: auto;
}

.txtCorreo{
  width: 100%;
  font-size: 14px;
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid #009CFD;
  outline: 0;
}

.txtAsunto{
  width: 100%;
  font-size: 14px;
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid #009CFD;
  outline: 0;
  margin-top: 14px;
}

.txtMensaje{
  width: 100%;
  font-size: 14px;
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid #009CFD;
  outline: 0;
  margin-top: 14px;
  min-height: 100px;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 100%;
}

.correo a{
  color: white;
}

.correo a:hover{
  color: #CCCCCC;
}

.correo a:active{
  color: grey;
}

@media screen and (max-width: 1750px){

  .texto{
    width: 1150px;
    height: 75%;
    margin: auto;
    /*border: 1px solid white;*/
    position: absolute;
    margin-left: 20%;
    margin-top: 1.5%;
  }

  .ubicacionTexto{
    /*border: 1px solid black;*/
    width: 44%;
    height: 91%;
    margin-left: 44%;
    font-family: sans-serif;
    background: rgba(0, 0, 0, .45);
    padding: 2%;
    border-radius: 5%;
    margin-top: 2%;
  }

  .titulo{
    font-weight: bold;
    font-size: 49px;
    color: white;
    width: 100%;
    /*margin-top: 10%;*/
    margin-top: 2%;
    text-align: center;
    text-shadow: 5px 5px 5px #000;

  }

  .descripcion{
    font-size: 22px;
    color: white;
    font-weight: bold;
    /*text-shadow: 5px 5px 5px #000;*/
    /*-webkit-text-stroke: 1px black;*/
    margin-top: 40px;
    text-align: justify;
    font-weight: none;
    width: 85%;
    margin-left: 7.5%;
    /*margin: auto;*/
  }

  .btnBuscar{
    font-size: 20px;
    padding: 10px 25px;
    margin:auto;
    display: block;
    margin-top: 40px;
    border: 3px solid #009CFD;
    color: #009CFD;
    font-weight: bold;
    background: white;
    border-radius: 10px;
    outline: 0;
    transition: all .4s;
  }

  .btnBuscar:hover{
    color: white;
    cursor: pointer;
    background: #009CFD;
  }
}

@media screen and (max-width: 1600px){

  .texto{
    width: 1150px;
    height: 80%;
    margin: auto;
    /*border: 1px solid white;*/
    position: absolute;
    margin-left: 20%;
    margin-top: 1.5%;
  }

  .ubicacionTexto{
    /*border: 1px solid black;*/
    width: 44%;
    height: 91%;
    margin-left: 44%;
    font-family: sans-serif;
    background: rgba(0, 0, 0, .45);
    padding: 2%;
    border-radius: 5%;
    margin-top: 2%;
  }
  
}

@media screen and (max-width: 1500px){
  .divWallpaper{
    width: 107%;
    background: green;
  }
  .texto{
    width: 1150px;
    height: 81.5%;
    margin: auto;
    position: absolute;
    margin-left: 20%;
    margin-top: 1.5%;
  }

  .ubicacionTexto{
    width: 44%;
    height: 91%;
    margin-left: 44%;
    font-family: sans-serif;
    background: rgba(0, 0, 0, .45);
    padding: 2%;
    border-radius: 5%;
    margin-top: 2%;
  }
}